
.child{
    width: 250px;
    height: 250px;
    background-color: salmon;
}
.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }